@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';


.section__editor {
  padding-top: 100px;
}

.editor__content {
  @include flex-center;
  flex-direction: column;
  @include font;
  max-width: 864px;
  margin: 0 auto;

  .editor__content--title {
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: #635C73;
    margin: 66px 0 36px 0;
      }

  .editor__content--text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    text-align: center;
    margin-bottom: 14px;
  }
}
  .editor__content--svg{
    @include flex-center;
    flex-direction: row;
    margin-bottom: 70px;

    .editor__content--link {
      list-style-type: none;
      @include flex-row;
      align-content: center;
      margin: 0 10px 0 0;
      font-size: 12px;
      font-weight: bold;
      color: $sectionEditor-color;
      background-color: rgba(175,184,193,0.2);
      border: 1px solid rgba(27,31,36,0.15);
      border-radius: 4px;
    }
  }

  .svg__content {
    box-sizing: border-box;
    display: block;
    padding: 2px 10px 0;
    line-height: 20px;
    color: $sectionEditor-color;
    text-align: center;
  }

.svg__content--icon {
  box-sizing: border-box;
  display: block;
  justify-content: center;
  margin: 4px 0 0 6px;
}
  .svg__counter {
    display: block;
    padding: 4px 10px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: $sectionEditor-color;
    text-align: center;
    background-color: #f6f8fa;
    border-left: 1px solid rgba(27, 31, 36, 0.15);
  }


@media screen and (max-width: 992px) {
  .editor__content .editor__content--title {
    font-size: 42px;
    line-height: 42px;
    margin: 94px 0 30px 0;
    text-align: center;
  }
  .editor__content .editor__content--title {
     margin-bottom: 24px;
  }
  .editor__content--svg {
    margin-bottom: 98px;
  }
}

@media screen and (max-width: 481px) {
  .editor__content .editor__content--title {
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    margin: 80px 0 26px 0;
  }

  .editor__content--text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
  }
  .editor__content--svg {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 88px;
  }
}




